{% extends 'app/base.html' %}

    <!DOCTYPE html>
    <html lang="zxx" class="no-js">

{% block start %}
    <!-- start banner Area -->
    <section class="about-banner relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        About Banff
                    </h1>
{#                    <p class="text-white link-nav"><a href="index.html">Home </a> <span#}
{#                            class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p>#}
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start about-info Area -->
    <section class="about-info-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 info-left">
                    <img class="img-fluid" src="/staticfiles/img/locationinfo/banfflake.jpg" alt="">
                </div>
                <div class="col-lg-6 info-right">
                    <h6>Moraine Lake</h6>
                    <h1>Some Interesting Insight</h1>
                    <p>
                       Moraine Lake in the Valley of the Ten Peaks is arguably as impressive as Lake Louise, but attracts fewer visitors.
                        The picturesque turquoise-colored water is surrounded by ten peaks, each more than 3,000 meters high, and the Wenkchemna Glacier.
                        The lake is located beyond Lake Louise, and the 13-kilometer road leading from Lake Louise up to Moraine Lake reveals one great view after another.
                    </p>
                    <h3 class="h3">"Witness the beauty of Moraine Lake with Traveloholic"</h3>
                </div>
            </div>
        </div>
    </section>

        <!-- Start about-info Area -->
    <section class="about-info-area section-gap">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6 info-right">
                    <h6>Lake Louise Ski Resort</h6>
                    <h1>Some Interesting Insight</h1>
                    <p>
                       Lake Louise Ski Resort is the most well-known ski resort in Alberta, and also one of the best ski resorts in Canada. It offers skiing for all levels of ability with terrain that includes open bowls, groomed runs, and tree skiing. The runs on the mountainside are visible from the lake and Chateau Lake Louise.

Lake Louise Ski Resort has recently added a new chairlift, the Summit Quad, which makes accessing over 480 acres of new terrain easy. Skiers will rejoice at all this new terrain, which was formerly only accessible via an old (and brutal-to-ride) Poma lift.
                    </p>
                    <h3 class="h3">"Experience Adventurous Ski with Traveloholic"</h3>
                </div>
                <div class="col-lg-6 info-left">
                    <img class="img-fluid" src="/staticfiles/img/locationinfo/skibanff.jpg" alt="">
                </div>
            </div>
        </div>
    <div class="alert-msg" style="text-align: left;"></div>
                                <button  name="btnS" class="genric-btn primary" style="float: right;margin-top: 25px;margin-right: 1000px;" type="submit">BOOK NOW</button>
    </section>



{% endblock %}
</body>
</html>
