{% extends 'app/base.html' %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

{% block start %}
    <!-- start banner Area -->
    <section class="relative about-banner">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Your Booking Confirmation
                    </h1> <br> <br> <br>
                </div>
            </div>
        </div>
    </section>
    <body>
    <div class="container" style="padding-right: 200px; padding-left: 200px">
        <br><br><br><br>
        <h3> {{ msg1 }}</h3><br>
        <h3> {{ msg2 }}</h3><br>
        <h3> {{ msg3 }}</h3><br>
        <br><br><br><br>
    </div>
    </body></html>
{% endblock %}