{% extends 'app/base.html' %}

    <!DOCTYPE html>
    <html lang="zxx" class="no-js">

{% block start %}
    <!-- start banner Area -->
    <section class="about-banner relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        About Niagara
                    </h1>
{#                    <p class="text-white link-nav"><a href="index.html">Home </a> <span#}
{#                            class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p>#}
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start about-info Area -->
    <section class="about-info-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 info-left">
                    <img class="img-fluid" src="/staticfiles/img/locationinfo/L1.jpg" alt="">
                </div>
                <div class="col-lg-6 info-right">
                    <h6>Niagara Falls</h6>
                    <h1>Some Interesting Insight</h1>
                    <p>
                        The Niagara River flows approximately 35 miles/hour (56.3 kilometres/hour).
                        Niagara has two waterfalls, the American Falls and the Canadian Horseshoe Falls.
                        The Falls at Niagara are about 12,000 years old.
                    </p>
                    <h3 class="h3">"Feel the breeze of Falls with Traveloholic"</h3>
                </div>
            </div>
        </div>
    </section>

        <!-- Start about-info Area -->
    <section class="about-info-area section-gap">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6 info-right">
                    <h6>Fallsview Casino</h6>
                    <h1>Some Interesting Insight</h1>
                    <p>
                        Built on a cliff overlooking the world-famous Horseshoe Falls,
                        Fallsview Casino Resort is Canada's largest and most elegant gaming resort facility.
                        Fallsview offers a world-class casino with over 3,500 slot machines and 130 gaming tables.
                    </p>
                    <h3 class="h3">"New level of hospitality with Traveloholic"</h3>
                </div>
                <div class="col-lg-6 info-left">
                    <img class="img-fluid" src="/staticfiles/img/locationinfo/L2.jpg" alt="">
                </div>
            </div>
        </div>
    <div class="alert-msg" style="text-align: left;"></div>
{#                                <button  name="btnS" class="genric-btn primary" style="float: right;margin-top: 25px;margin-right: 1000px;" type="submit">BOOK NOW</button>#}
    </section>



{% endblock %}
</body>
</html>
